# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/components/app/App.d.ts
/src/components/app/App.js
/src/components/app/__tests__/App.test.d.ts
/src/components/app/__tests__/App.test.js
/src/components/ui/checkbox/Checkbox.d.ts
/src/components/ui/checkbox/Checkbox.js
/src/utils/id-generate.d.ts
/src/utils/id-generate.js
/src/components/input-task/InputTask.d.ts
/src/components/input-task/InputTask.js
/src/components/input-task/__test__/InputTask.test.d.ts
/src/components/input-task/__test__/InputTask.test.js
/src/main.d.ts
/src/main.js
/src/libs/constant/nav-menu.constant.d.ts
/src/libs/constant/nav-menu.constant.js
/src/components/navigate-bar/NavigateBar.d.ts
/src/components/navigate-bar/NavigateBar.js
/src/components/navigate-bar/__test__/NavigateBar.test.d.ts
/src/components/navigate-bar/__test__/NavigateBar.test.js
/src/setupTests.d.ts
/src/setupTests.js
/src/libs/types/task.types.d.ts
/src/libs/types/task.types.js
/src/components/task-element/TaskElement.d.ts
/src/components/task-element/TaskElement.js
/src/components/task-element/__test__/TaskElement.test.d.ts
/src/components/task-element/__test__/TaskElement.test.js
/tsconfig.app.tsbuildinfo
/tsconfig.node.tsbuildinfo
/vite.config.d.ts
/vite.config.js
